{% if authors is defined and authors is not empty %}

	<table border="1">
		<tr>
			<th>id</th>
			{# <th>pictures</th> #}
			<th>username</th>
			<th>email</th>
			{# <th>nb_books</th> #}
			<th>Actions</th>
		</tr>
		{% set total = 0 %}
		{% for author in authors %}
			<tr>
				<td>{{author.id}}</td>
				{# <td><img src="{{author.picture}}" alt="image nn dispo" height="150px" width="150px"></td> #}
				<td>{{author.authorName}}</td>
				<td>{{author.email}}</td>
				{# <td>{{author.nb_books}}</td> #}
				<td>
					<a href="{{path("auth_Details",{"id":author.id})}}">Details</a>
					<a href="{{path("auth_Delete",{"id":author.id})}}" onclick="return confirm('Supprimer ce produit ?');">Delete</a>

				</td>
				{# {% set total= total+ author.nb_books %} #}
			</tr>
		{% endfor %}
		<h2>
			le tableau comporte
			{{authors| length}}
			{# auteurs avec
																								{{total}}
																								livres #}

		</h2>
	</table>
{% endif %}
